body {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: medium;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
}

body header {
  background-color: cornflowerblue;
}

body nav h2 {
  background-color: rgb(45, 45, 212);
  color: white;
}

body footer {
  background-color: rgb(45, 45, 212);
  color: white;
}

body section {
  display: flex;
  flex-direction: row;
}

body .section1 {
  background-color: cornflowerblue;
}

body .section2 {
  background-color: rgb(17, 165, 165);
}
