body {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: medium;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
}

body header {
  background-color: cornflowerblue;
}

body h2 {
  background-color: rgb(45, 45, 212);
  color: white;
}

body footer {
  background-color: rgb(45, 45, 212);
  color: white;
}

body section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

body section .div1 {
  background-color: cornflowerblue;
  flex-basis: 50%;
}

body section .div2 {
  background-color: rgb(17, 165, 165);
  flex-basis: 50%;
}

body nav ol li {
  display: inline;
  list-style: none;
  padding-left: 10px;
}
