body {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: medium;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}

body header {
  background-color: cornflowerblue;
  text-align: center;
}

body h2 {
  background-color: rgb(45, 45, 212);
  color: white;
  text-align: center;
}

body footer {
  display: flex;
  background-color: rgb(45, 45, 212);
  color: white;
}

body section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

body section .div1 {
  background-color: cornflowerblue;
  flex-basis: 65%;
  height: 700px;
}

body section .div2 {
  background-color: rgb(17, 165, 165);
  flex-basis: 35%;
  height: 350px;
}

body nav ol li {
  display: inline;
  list-style: none;
  padding-left: 10px;
  margin: auto;
}

body nav ol {
  background-color: rgb(45, 45, 212);
  color: white;
}
